/* CSS files add styling rules to your content */
html {
  background-color: #FFFFF;
}

body {
  font-family:  'Times New Roman', serif;
  margin: 2em;
  color: #00000;
  font-size: 2em;
}

h1 {
  font-style: italic;
  color: #00000;
  
}

.center {
  text-align: center;
}

 a:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #00FF00;
  background-color: transparent;
  text-decoration: underline;
  
}
}